<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <form role="form" method="post" action="/users/confirm"
          th:object="${verifyCodeFormDto}">
        <div class="form-group">
            <span class="label-input100">Enter code verification</span>
            <input type="text" th:field="*{token}" class="form-control"
                   placeholder="인증코드를 입력해주세요">
            <p th:if="${#fields.hasErrors('token')}"
               th:errors="*{token}" class="fieldError">Incorrect data</p>

        </div>

        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">Submit</button>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">

    </form>


</div>

</html>